#middleColumn #RSS {
	margin-top:18px;
	width:790px;
	margin-left:5px;
}

#middleColumn #RSS_Main {
	margin-top:6px;
	float:left;
	border:1px #E4DFD9 solid;
}

#fieldmap{
    margin: auto;
    padding: auto;
    border-collapse: separate;
}

.channel .channel-title  {
	font-weight:bold;
	font-size:115%;
	background-color: #5092C9;
	margin-bottom:10px;
	color:white;

}

.channel .channel-title a {
	cursor: pointer;
	text-decoration:none;
	color:white;
}

.channel .channel-summary {
	font-style:italic;
	margin-bottom:10px;

}

.channel .channel-contents {

}

.channel-contents .item {

}

.channel-contents img {
	margin:5px 5px 5px 5px;
}

.channel-contents .item a {
	display:block;
	background-color: #F9F7F3;
	color:black;
	text-decoration:none;
	font-weight:bold;
	text-align:left;
	padding-right:5px;
}

.channel-contents .summary {
	padding:5px 5px 5px 5px;
	color:#003D6B;
	font-size:90%;
}

#Iframe {
	width:742px;
	height:647px;
	overflow:hidden;
	margin-top:4px;
	margin-left:10px;
	overflow:hidden;
	background-color: #FFFFFF;
	padding : 0 0 0 0;
	margin-left:9px;
	margin-top:10px;
	border: 1px solid #0f447e;
}

*+html #Iframe {
	padding-right: 2px;
}


#Iframe_Main {
	padding-left:3px;
	overflow:hidden;
}

*+html #Iframe_Main {
	padding-left:0px;	
}

#Iframe_Main iframe{
	width:742px;
	height:600px;
	margin-left:10px;
	margin-top:10px;
	border:none;
	margin-left:0;
	overflow:hidden;
}

*+html #Iframe_Main iframe{
	margin-left:5px;
	overflow:hidden;
	width:742px;
}
